<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 board-name">

      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#boardEdit">
        <%= @board.title %>
      </button>

      <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#boardCreate" aria-label="New Board">
        <% @board.title %>
      </button>

    </div>



    <div class="col-xs-12 col-sm-6 state ready">
      <div class="name">Ready</div>
      <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#readyCreate" aria-label="New Card"></button>
      <hr>
      <%= render @board.cards.ready %>
    </div>

    <div class="col-xs-6 col-sm-3 state doing">
      <div class="name">Doing</div>
      <hr>
      <%= render @board.cards.doing %>
    </div>

    <div class="col-xs-6 col-sm-3 state done">
      <div class="name">Done</div>
      <hr>
      <%= render @board.cards.done %>
    </div>

  </div>
</div>

<!-- For edit board title -->
<div class="modal fade" id="boardEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rename this board</h4>
      </div>
      <%= form_for @board do |f| %>

        <div class="modal-body">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- For new board -->
<div class="modal fade" id="boardCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Name your new board:</h4>
      </div>
      <%= form_for Board.new do |f| %>

        <div class="modal-body">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- For new cards -->
<div class="modal fade" id="readyCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a new card:</h4>
      </div>
      <%= form_for @board.cards.new do |f| %>

        <div class="modal-body">
          <div class="#">
            <%= f.label :title %>
            <br>
            <%= f.text_field :title %>
          </div>
          <div class="#">
            <%= f.label :description %>
            <br>
            <%= f.text_area :description %>
          </div>
          <br>
          <div class="#">
            <%= f.radio_button :state, "ready" %>
            <%= label_tag :state, "Ready" %>
          </div>
          <div class="#">
            <%= f.radio_button :state, "doing" %>
            <%= label_tag :state, "Doing" %>
          </div>
          <div class="#">
            <%= f.radio_button :state, "done" %>
            <%= label_tag :state, "Done" %>
          </div>
          <%= f.hidden_field :board_id%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
#