<!DOCTYPE html>
<html>
<head>
  <title>LittleByLittle</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <% if user_signed_in? %>
        <ul class="nav nav-pills navbar-left">
          <li role="presentation"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else %>
        <ul class="nav nav-pills navbar-left">
          <li role="presentation"><%= link_to 'Sign up', new_user_registration_path %></li>
          <li role="presentation"><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      <% end %>



      <%= image_tag "LittleByLittle_Logo.png", class: "navbar-brand navbar-right" %>
    </div>
  </nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
